body {
    background-color: #0b1220;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    width: 95%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: #111a2f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card p {
    font-size: 26px;
    font-weight: bold;
}

.card.danger {
    background: #3a0f1c;
    color: #ff4d6d;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.chart-box {
    background: #111a2f;
    padding: 20px;
    border-radius: 10px;
}








.device-ip {
    cursor: pointer;
    color: #4da3ff;
    text-decoration: underline;
}

.device-ip:hover {
    color: #7fc3ff;
}









.router-input {
    margin-bottom: 20px;
}

.router-input input {
    padding: 6px;
    width: 220px;
}

.router-input button {
    padding: 6px 10px;
    margin-left: 5px;
    cursor: pointer;
}





